<!DOCTYPE html>
{% extends 'Index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Display Contact</h4>
<!--                  <p class="card-description">-->
<!--                    Add class <code>.table</code>-->
<!--                  </p>-->
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>EnterMessage</th>
                          <th>Name</th>
                          <th>EmailId</th>
                          <th>Subject</th>

                        </tr>
                      {% for i in data %}
                      <tr>

                          <td>{{i.EnterMessage}}</td>
                          <td>{{i.Name}}</td>
                          <td>{{i.EmailId}}</td>
                          <td>{{i.Subject}}</td>
                          <td>
                              <form action="{% url 'deletecontact' dataid=i.id %}">
                                  <button type="submit" class="btn btn-danger btn-sm btn btn-icon-text">Delete</button>
                              </form>
                          </td>
                      </tr>
                      {% endfor %}
                      </thead>
                      <tbody>
<!--                        <tr>-->
<!--                          <td>Jacob</td>-->
<!--                          <td>53275531</td>-->
<!--                          <td>12 May 2017</td>-->
<!--                          <td><label class="badge badge-danger">Pending</label></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                          <td>Messsy</td>-->
<!--                          <td>53275532</td>-->
<!--                          <td>15 May 2017</td>-->
<!--                          <td><label class="badge badge-warning">In progress</label></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                          <td>John</td>-->
<!--                          <td>53275533</td>-->
<!--                          <td>14 May 2017</td>-->
<!--                          <td><label class="badge badge-info">Fixed</label></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                          <td>Peter</td>-->
<!--                          <td>53275534</td>-->
<!--                          <td>16 May 2017</td>-->
<!--                          <td><label class="badge badge-success">Completed</label></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                          <td>Dave</td>-->
<!--                          <td>53275535</td>-->
<!--                          <td>20 May 2017</td>-->
<!--                          <td><label class="badge badge-warning">In progress</label></td>-->
<!--                        </tr>-->
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

</body>
</html>
{% endblock %}